.collapsible {
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .product-prescription-list .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }

.user-list-row {
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px;
}

.product-prescription-list {
    text-align: center;
}

.user-list-row button {

}


.user-list-row .user-list-row-info-detail, .patient-symptom-list {
    float: left;
    width: 50%;
}

.user-list-row .user-list-row-info-detail img {
    width: 40%;
    min-width: 100px;
}

.view-prescription-list  th{
    border: 1px solid #ddd;
    padding: 8px;
}

.product-prescription-row td{
    border: 2px solid rgb(204, 238, 172);
    padding: 8px;
}

.view-prescription-list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

tr.product-prescription-row img {
    width: 80%;
}

.form-submit {
    background-color: #4CAF50;
    color: white !important;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 20%;
    margin-bottom:10px;
    opacity: 0.8;
    text-align: center;
  }
  
  
.form-submit:hover {
      opacity: 1;
  }
  